@media screen and (min-width: 320px){
    .container {
        max-width: 428px;
        margin-left: auto;
        margin-right: auto;
    }

   @media (min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
       .solutions {
           background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob-2x.jpg);
            max-width: 396px;
        }

        .our-team .workers .mark-photo {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Mark-2x.jpg);
        }
        
        .our-team .workers .tom-photo {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Tom-2x.jpg);
        }

        .our-team .workers .camila-photo {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Camila-2x.jpg);
        }

        .our-team .workers .daniel-photo {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Daniel-2x.jpg);
        }
   }

    .about-item {
        max-width: 396px;
    }

}



                                    /** TABLET **/

@media screen and (max-width: 767px) {
    .header-list {
            display: none;
        }
}

@media screen and (min-width: 768px) {

    .solutions {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab.jpg);
        max-width: 768px;
    }

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .solutions {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab-2x.jpg);
        }
    }

    .mob-menu {
        display: none;
    }

    .container {
        max-width: 768px;
    }

                            /** HEADER **/

    .header {
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .btn-header-mob {
        display: none;
    }

    .address-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
        
    .navigation .menu {
        margin-left: 120px;
    }

    .addresses {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.48px;
    }

                            /** FIRST SECTION **/
    
    .solutions .main-text {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }

                            /** ABOUT SECTION **/

    .about-item {
        width: unset;
        width: calc((100% - 24px) / 2);
    }

    .about {
        
        padding: 96px 0;
    }

    .about .title {
        text-align: start;
    }

    .about .description {
        max-width: 356px;
        margin-bottom: 0;
    }

    .about .list {
        gap: 72px 24px;
    }

                            /** OUR TEAM SECTION **/

    .our-team {
        padding: 96px 0;
    }

    .our-team .workers {
       
    }
     
                            /** CUSTOMERS SECTION **/
    .customers .list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .customers-list {
        width: 168px;
    }



                            /** FOOTER SECTION **/

    .logo-container {
        align-items: start;
        margin-bottom: 0;
    }
    
    .container-social-media {
    margin-bottom: 0;
    }

    .media-title {
        display: flex;
        align-items: start;
    }
    
    .title-subscribe {
        text-align: left;
    }
    
    .form-subscribe {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    
    .label-footer-input {
        padding: 0;
    }
    
    .footer-subscribe {
        width: 460px;
    }
    
    .footer-container {
        max-width: 550px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 72px 24px;
    }

}


                                /** DESKTOP **/

@media screen and (max-width: 1157px) {
    .what-we-do {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

                                /** HEADER **/

    .header {
        padding: 25px 0;
    }

    .addresses {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

                                /** ADDRESS **/

    .address-container {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

                                /** FIRST SECTION **/
                            
    .solutions {
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        padding: 188px 0;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .solutions {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
        }
        
        .what-we-do .screen {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Rectangle\71-1-2x.jpg);
        }

        .what-we-do .phone-pages {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Rectangle\71-2-2x.jpg);
        }

        .what-we-do .phone-laptop {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Rectangle\71-3-2x.jpg);
        }
    }

                                /** ABOUT SECTION **/

    .about {
        padding: 120px 0;
    }

    .about-item {
        width: calc((100% - 96px) / 4);
    }

    .about .title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.1;
        letter-spacing: 0.4px;
        color: var(--color-text);
        text-transform: capitalize;
        margin-bottom: 8px;
    }

    .about .description {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
        color: var(--color-main);
        /* margin-bottom: 72px; */
    }

    .about .list {
        flex-wrap: nowrap;
    }

    .container-about-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: var(--color-footer);
        border-radius: 4px;
        margin-bottom: 8px;
    }


                            /** OUR TEAM **/
    .our-team {
        padding: 120px 0;
    }

                            /** CUSTOMERS **/

    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-list {
        width: calc((100% - 120px) / 6);
    }

                            /** FOOTER **/

    .container-social-media {
        margin-left: 120px;
    }

    .footer-subscribe {
        margin-left: 80px;
        width: 460px;
    }

    .footer-container {
        min-width: 1158px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        margin: 0 auto;
        padding: 0 15px;
        gap: 0;
    }

}