:root {
    --color-logo: #4d5ae5;
    --color-animation: #404bbf;
    --color-bg: #2e2f42;
    --color-green: #31d0aa;
    --color-main: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-footer: #f4f4fd;
    --color-logo-span: #2e2f42;
    --color-text: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}



body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-main);
    background-color: var(--color-white);
}

img {
    display: block;
    min-width: 100px;
    height: auto;
}

.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
    padding: 25px 0;
}

                                /** HEADER MOB **/

.mob-menu {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 100%;
    background-color: #ffffff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.btn-header-mob {
    border: none;
    background-color: transparent;
    
}

.close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    margin-bottom: 32px;
    cursor: pointer;
    transition: background-color var(--transition), fill var(--transition);
    padding: 0;
}

.item-btn-header {
    stroke: #2E2F42;
}

.mob-main-nav {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: #2E2F42;
    text-decoration: none; 
}

.mob-list:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-list {
    padding-left: 16px;
    margin-bottom: 50px;
}


.mob-header-list {
    display: flex;
    gap: 56px;
}

.container-menu-link {
    padding-bottom: 40px;
    padding-left: 40px;
}

.mob-tell {
    color: #4D5AE5;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-decoration: none;
    margin-bottom: 40px;
}

.mob-email {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-decoration: none;
    margin-bottom: 48px;
}

.mob-icons-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color var(--transition);

}



                                /** MAIN **/

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.portfolio-container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container {
    display: flex;
    align-items: center;
}

.list {
    list-style: none;
}

.main-list {
    list-style: none;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation .link {
    text-decoration: none;
}

.navigation .menu {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 75px;
}

.navigation .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;   
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-logo);
    
}

.navigation .logo .studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: var(--color-logo-span);
}

.main-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
    padding: 24px 0;
    position: relative;
    transition: color var(--transition);
}

.current {
    color: #404bbf;
}

.current::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    left: 0;
}

.main-nav .link {
    text-decoration: none;
}

.main-nav:hover,
.main-nav:focus {
    color: var(--color-animation);
    
}

.address {
    font-style: normal;
    margin-left: auto;
    color: #434455;
}

.address-container {
    display: flex;
    gap: 40px;
}

.address .link {
    text-decoration: none;
}

.addresses {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    color: var(--color-main);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.addresses:hover,
.addresses:focus {
    color: var(--color-animation);
}

                                    /* * FIRST SECTION * */

.section {
    padding: 120px;
}

.solutions {
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 112px 0;
}

.solutions h1 {
    width: 496px;
}

.solutions .main-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-white);
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.solutions .main-button {   
    margin: 0 auto;
    padding: 16px 32px;
    
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color var(--transition);

    /** TEXT **/
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--color-white);

    /** BG **/
    background-color: var(--color-logo);
}

.solutions .main-button:hover {
    background-color: var(--color-animation);
}

.solutions .main-button:focus {
    background-color: var(--color-animation);
}

.container .title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-text);
    margin-bottom: 72px;
}

                                    /* * ABOUT SECTION * */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about {
    padding: 96px 16px;       
}

.about .list{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.about-item {
    width: 100%;
}

.about .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.72px;
    color: var(--color-text);
    text-transform: capitalize;
    margin-bottom: 8px;
}

.about .description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--color-main);
}

.container-about-icons {
    display: none;
}

                            /** WHAT WE DO SECTION **/

.what-we-do {
    padding-bottom: 120px;
}

.what-we-do .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-text);
    margin-bottom: 72px;
}

.what-we-do .list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

                        /** OUR TEAM **/

.our-team {
    background: var(--color-footer);
    padding: 120px 0;
}

.our-team .list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
}

.our-team .workers {
    max-width: 264px;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team .title-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-text);
    margin-bottom: 8px;
}

.our-team .description {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
     color: var(--color-main);
     margin-bottom: 8px;
}

.our-team .team-icons-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color var(--transition);
}

.team-icons-link:hover {
    background-color: #404BBF;
}

.team-icons-link:focus {
    background-color: #404BBF;
}

.team-icons {
    fill: #f4f4fd;
}

.section-team {
    padding: 32px 0;
    text-align: center;
}

                            /** CUSTOMERS **/
                            
.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 16px;
}

.customers-list {
    width: calc((100% - 16px) / 2);
    height: 88px;
    display: inline-block;
    border-radius: 4px;
}

.link-customers-icons {
    width: 100%;
    height: 100%;
    color: #8E8F99;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-customers-icons:focus {
    color: #404bbf;
    border: 1px solid #404bbf;
}

.link-customers-icons:hover {
    color: #404bbf;
    border: 1px solid #404bbf;
}

.customers-icons {
    fill: currentColor;
}


                                    /* * PORTFOLIO * */

.main-btn {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-logo);
    background-color: var(--color-footer);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    border: 1px solid var(--color-cornflower);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
    color: var(--color-white);
    background-color: var(--color-animation);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn:focus {
    color: var(--color-white);
    background-color: var(--color-animation);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.blocks {
    display: block;
    transition: box-shadow var(--transition);
}

.blocks:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.blocks:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.icon-list {
    width: calc((100% - 48px) / 3);
}

.portfolio-section {
    padding: 96px 0 120px;
}

.main-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-section .title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;  
    letter-spacing: 0.02em;
    color: var(--color-text);
    margin-bottom: 8px;
}

.portfolio-section .description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-main);  
}

.portfolio-desc-photo {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-section .link {
    text-decoration: none;
}

.container-img-portfolio {
    position: relative;
    overflow: hidden;
}

.description-img-portfolio {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-footer);
    padding: 40px 32px;
    background-color: var(--color-logo);
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.blocks:hover
.description-img-portfolio {
    transform: translateY(0%);
}

.blocks:focus
.description-img-portfolio {
    transform: translateY(0%);
}

.description-img-portfolio:hover {
    transform: translateY(0);
}

                                /* * FOOTER * */

.footer {
    background-color: var(--color-bg);
    padding: 97.5px 0;
}

.footer a {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer .logo {
    display: inline-block;
    font-weight: 800;
    color: var(--color-logo);
}

.footer .link {
    text-decoration: none;
}

.footer .logo .studio {
    letter-spacing: 1.1;
    text-transform: uppercase;
    color: var(--color-footer);
}

.footer .description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-footer);
    max-width: 264px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

                                /** FOOTER SOCIAL MEDIA **/

.media-title {

    /** STYLES **/

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    margin-bottom: 16px;

    /** POSITIONS **/

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-social-media {
    margin-bottom: 72px;
}

.footer-icons {  
    width: 40px;
    height: 40px;
}

.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.link-footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-logo);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer-icons:hover {
    background-color: #31D0AA;
}

.link-footer-icons:focus {
    background-color: #31D0AA;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 426px;
}

.media-icons {
    fill: var(--color-footer);
}

                                 /** FOOTER SUBSCRIBE **/

.form-subscribe {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.footer-subscribe {
   width: 100%;
}

.label-footer-input {
    width: 100%;
    padding: 0 15px;
}

.title-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    margin-bottom: 16px;
    text-align: center;
}

.subscribe-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    min-width: 165px;
    height: 40px;
    background-color: var(--color-logo);
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container-airplane {
    fill: #ffffff;
    margin-left: 16px;
}

.subscribe-input {
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    width: 100%;
    height: 40px;
    color: #ffffff;
    padding-left: 16px;
    padding-right: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    opacity: 0.3;
}

.subscribe-input::placeholder {
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

                                /** MODAL WIND **/

.container-modal-close {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}      

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;  
}

.modal-wnd {
    width: 95%;
    max-width: 392px;
    height: 95%;
    max-height: 584px;
    overflow: scroll;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 72px 24px 24px;
    transform: translate(-50%, -50%);
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color var(--transition), border var(--transition);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: var(--color-white);
}

.container-modal-icon {
    transition: fill var(--transition);
}

.text-modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-text);
    margin-bottom: 16px
}

.modal-input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    transition: border-color var(--transition);
    padding-right: 16px;
}

.modal-input:focus {
    border: 1px solid #4D5AE5;
}

.modal-input:focus + .input-icon{
    fill: #4d5ae5;
}

.modal-field {
    margin-bottom: 8px;
}

.text-modal-field {
    margin-bottom: 16px;
}

.check-modal-field {
    margin-bottom: 24px;
}

.label-modal-input {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-light-slate);
    margin-bottom: 4px;
}

.input-wrap {
    position: relative;
}

.input-icon {
    position: absolute;
    fill: #2E2F42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--transition);
}

.input-wrap:hover .input-icon,
.input-wrap:focus .input-icon {
    fill: #4d5ae5;
}

.input-wrap:hover .modal-input,
.input-wrap:focus .modal-input {
    border-color: #4d5ae5;
}

                                /** MODAL TEXT AREA **/

.modal-text-area {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color var(--transition);
    resize: none;
}

.modal-text-area:focus {
    border-color: #4D5AE5;
}

.modal-text-area::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

                            /** INPUT CHECK **/



.text-input-check {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    align-items: center;
}

.input-check:checked + .text-input-check span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.container-checkbox-icon {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color var(--transition),
        border var(--transition),
        fill var(--transition);
}

.text-check-privacy {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: #4D5AE5;
}

                               /** MODAL BTN **/
        
.modal-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none; 
    transition: background-color var(--transition);
}                            